html {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to top left,#000000 ,#ffffff,#000000);
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  h1{
    position: relative;
    color:	gold;
    font-family:"TOPGUN";
    font-size: 62px;
    margin-top: 30px;
    letter-spacing: 0.1em;

  }

  h2{
    padding-top: 30px;
    color:gold;
    font-size: 30px;
   
  }

  h3{
    color:white;
    padding: 0 10px 0 80px;
    margin-left: -50px;
    text-align: left;
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
    width: 515px;
    height: 100px;
    overflow-y: scroll;
    


  }

  .game {
    box-sizing: border-box;
    position: relative;
    
    border: 20px outset rgb(91, 187, 243);
    background-color: #1c49fc;
    box-shadow: -1px 2px 42px 7px rgba(0, 0, 0, 0.5);
    width: 600px;
    height:750px;
    text-align: center;
    
  }

  .contenu{
    margin-top: -65px;

  }
  
 
  #image {
    position: relative;
    padding-top: 10px;
    margin-top: -3%;

  }
  
  .btn-panel{
    
   
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      
      flex-wrap: wrap;
      color:black;
    font-size: 105%;
    font-weight: bold;
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
      
    }

    .btn{background-color: rgb(91, 187, 243);
    color:black;
    font-size: 105%;
    padding: 5px 15px 10px 10px;
    font-weight: bold;
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
    border-radius: 10px;
    border: 2px solid white;
    width: 150px;

    }

.btn:hover{
  background-color: red;
  padding: 5px 15px 10px 10px;
  width: 200px;
}

.flex {
    display:flex;
    justify-content: space-evenly;
    flex-direction: row;

  }
    
  @font-face {
    src: url("/fontes/TOP\ GUN.ttf") format("woff2");
    font-family: "Topgun";
    font-style: normal;
    font-weight: 200;

  }


  

  